<ion-view title="Post your room">
<ion-content>
<div class="list padding-createblog-button">


    <div class="row">
        <div class="col ">        
            <button class="button button-block ion-ios-camera" ng-click="takePicture()">
                Camera
            </button>
        </div>
        
        <div class="col col-50">        
            <button class="button button-block ion-images" ng-click="choosePicture()">
                Gallery
            </button>
        </div>
    </div>


    <label class="item item-input">
        <div class="col col-50 display-inherit">        
            <span class="input-label">
                City
            </span>
            <select>
                <option>Hà Nội</option>
                <option selected>Hải Phòng</option>
                <option>Hồ Chí Minh</option>
            </select>
        </div>

        <div class="col col-50 display-inherit">        

            <span class="input-label">
                District
            </span>
            <select>
                <option>1</option>
                <option selected>2</option>
                <option>Bình Chánh</option>
                <option>Bình Thạnh</option>
            </select>
        </div>

    </label>


    <label class="item item-input">
        <span class="input-label">Title </span>
        <input type="text" placeholder="Need to find a roommate now">
    </label>
    <label class="item item-input">
        <span class="input-label">Address </span>
        <input type="text" placeholder="Your room address">
    </label>
    <label class="item item-input">
        <span class="input-label">Rent </span>
        <input type="tel" placeholder="2.000.000đ">
    </label>
    <label class="item item-input">
        <span class="input-label">Floor area </span>
        <input type="tel" placeholder="12m2">
    </label>
    <label class="item item-input">
        <span class="input-label">More details </span>
        <input type="text" placeholder="You can cook here, has a parking lot nearby">
    </label>

    
    <!--<img id="test" data-ng-src="img/joy.jpg"/>-->
    <ion-scroll direction="x" class="available-scroller" id='img-container'>
    <div class="createBlog-list-photo" collection-repeat="photo in photos"
    item-height="250" item-width="300">
    <img ng-src="{{photo.src}}"/>
</div>
</ion-scroll>

<a class="item item-list-detail">
    <ion-scroll direction="x" class="">
    <img ng-repeat="photo in photos" ng-src="{{photo}}" ng-click="showImages($index)" class="image-list-thumb"/>
</ion-scroll>
</a>

<button class="button button-block button-positive triipme-background padding-createblog-button" ng-click="createBlog()">
    Post it!
</button>
</div>
</ion-content>
</ion-view>