<style>
.popup-head {
  background-color : #4FBBBC;
}
</style>
<ion-view style="background-color: #F2F2F2; ;" title="Find your roommate">
<ion-content class="ion-content-marginbtm">

<div class="list card padding-createblog-button">
    <div class="item item-body">
        <a class="item item-list-detail">
            <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
            <ion-slide ng-repeat="user in users">
            <div class=" item  image-find">
                <img class ="find-avatar" ng-src="{{user.img}}" ng-click="showUser(1)"> </img>  
            </div>
            <div class=" text-center"> <p class="title-find">{{user.name}}, {{user.age}} tuổi </p></div>
        </ion-slide>
    </ion-slide-box>
</a>
</div>

</div>


</ion-content>
</ion-view>