
<ion-view title="Setting">
<ion-content>
<div id="profile-bg"></div>
<div style="background-color: #F2F2F2" id="content">
  <div id="profile-info">
    <img id="profile-image" class="avatar-custom" ng-src={{user.Avatar}}>
    <h3 id="profile-name" clas ng-model="user.Name">{{user.Name}}, {{user.Age}}</h3>
    <span id="profile-description">{{user.Description}}</span>
  </div>
  <div class="list">

    <a class="item item-icon-left" href="#">
      <i class="icon ion-ios-person-outline"></i>
      Account setting
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-ios-gear-outline"></i>
      Application, notification and more
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-ios-help-outline"></i>
      Need help?
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-ios-upload-outline"></i>
      Share EzRoommate to your friends!
    </a>

  </div>    
</ion-content>
</ion-view>